<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redsun.dao.CargoMapper">
    <select id="getCargos" resultType="cargo" parameterType="cargo">
        SELECT cargo_id as cargoId,
        cargo_type_id as typeId,
        gross,
        container_id as containerId
        FROM cargo_table
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="cargoId != null">
                AND cargo_id = #{cargoId}
            </if>
            <if test="typeId != null">
                AND cargo_type_id = #{typeId}
            </if>
            <if test="gross != null">
                AND gross = #{gross}
            </if>
            <if test="containerId != null">
                AND container_id = #{containerId}
            </if>
        </trim>
    </select>
    <insert id="insertCargo" parameterType="cargo">
        INSERT into cargo_table VALUES (#{cargoId},#{typeId},#{gross},#{containerId})
    </insert>
</mapper>