<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redsun.dao.CargoMapper">
    <resultMap id="cargo" type="cargo">
        <id property="cargoid" column="cargo_id"/>
        <id property="typeid" column="cargo_type_id"/>
        <id property="gross" column="gross"/>
    </resultMap>
    <select id="getCargos"  resultMap="cargo" parameterType="cargo">
        SELECT * FROM cargo_table
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="cargoid != null">
                AND cargo_id = #{cargoid}
            </if>
            <if test="typeid != null">
                AND cargo_type_id = #{typeid}
            </if>
            <if test="gross != null">
                AND gross = #{gross}
            </if>
        </trim>
    </select>
    <insert id="insertCargo" parameterType="cargo">
        INSERT into cargo_table VALUES (#{cargoid},#{typeid},#{gross})
    </insert>
</mapper>