<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redsun.dao.CargoAndContainerMapper">
    <resultMap id="cargoandcontainer" type="cargoandcontainer">
        <id property="cargoid" column="cargo_id"/>
        <id property="containerid" column="container_id"/>
        <id property="units" column="units"/>
    </resultMap>
    <select id="getCargoAndContainer"  resultMap="cargoandcontainer" parameterType="cargoandcontainer">
        SELECT * FROM cargo_distribution_table
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="cargoid != null">
                AND cargo_id = #{cargoid}
            </if>
            <if test="containerid != null">
                AND container_id = #{containerid}
            </if>
            <if test="units != null">
                AND units = #{units}
            </if>
        </trim>
    </select>
    <insert id="insertCargoAndContainer" parameterType="cargoandcontainer">
        INSERT into cargo_distribution_table VALUES (#{cargoid},#{containerid},#{units})
    </insert>
</mapper>