<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redsun.dao.ContainerMapper">
    <resultMap id="container" type="container">
        <id property="id" column="container_id"/>
        <id property="row" column="container_row"/>
        <id property="column" column="container_column"/>
        <id property="layer" column="container_layer"/>
        <id property="type" column="container_type"/>
        <id property="size" column="container_size"/>
    </resultMap>
    <select id="getContainers" resultMap="container" parameterType="container">
        SELECT * FROM container_table
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id != null">
                AND container_id = #{id}
            </if>
            <if test="row != null">
                AND container_row = #{row}
            </if>
            <if test="column != null">
                AND container_column = #{column}
            </if>
            <if test="layer != null">
                AND container_layer = #{layer}
            </if>
            <if test="type != null">
                AND container_type = #{type}
            </if>
            <if test="size != null">
                AND container_size = #{size}
            </if>
        </trim>
    </select>
    <insert id="insertContainer" parameterType="container">
        INSERT into container_table VALUES (#{id},#{row},#{column},#{layer},#{type},#{size})
    </insert>

    <update id="updateContainerPosition">
        UPDATE container_table SET container_row = #{row},
        container_column = #{column},
        container_layer = #{layer}
        WHERE container_id = #{id}
    </update>
    <delete id="deleteContainer" parameterType="container">

    </delete>
</mapper>