<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redsun.dao.ShipperContainerMapper">
    <resultMap id="shippercontainer" type="shippercontainer">
        <id property="userId" column="user_id"/>
        <id property="containerId" column="container_id"/>
        <id property="type" column="type"/>
        <id property="size" column="size"/>
    </resultMap>
    <select id="getShipperContainers"  resultMap="shippercontainer" parameterType="shippercontainer">
        SELECT * FROM shipper_cargo_table
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="containerId != null">
                AND container_id = #{containerId}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="size != null">
                AND size = #{size}
            </if>
        </trim>
    </select>
    <insert id="insertShipperContainer" parameterType="shippercontainer">
        INSERT into shipper_cargo_table VALUES (#{userId},#{containerId},#{type},#{size})
    </insert>
</mapper>